@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  position: relative;
  cursor: pointer;
}


.tooltip .tooltip-text {
  visibility: hidden;
  opacity: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 40;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: #111827;
  color: #ffffff;
  font-weight: 600;
  max-width: 20rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  white-space: normal;
  text-align: center;
}

.tooltip .tooltip-text::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-top .tooltip-text {
  visibility: hidden;
  opacity: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 40;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: #111827;
  color: #ffffff;
  font-weight: 600;
  max-width: 65ch;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  top: auto;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  white-space: normal;
  text-align: center;
}

.tooltip-top .tooltip-text::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  border-bottom: none;
  bottom: -5px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
