openapi: 3.1.0
info:
  title: Huddspool administration
  version: 0.2.0
  description: Inspect Huddspool administration data and perform validated, audited administrator commands.
servers:
  - url: https://www.huddspool.co.uk/api/gpt
paths:
  /me:
    get:
      operationId: getConnectedAdministrator
      summary: Check the connected Huddspool administrator.
      responses: { '200': { description: Connected administrator } }
  /dashboard:
    get:
      operationId: getAdministrationDashboard
      summary: Get current league statistics and outstanding administration work.
      responses: { '200': { description: Administration dashboard } }
  /capabilities:
    get:
      operationId: listAdministrationResources
      summary: List resources available for inspection.
      responses: { '200': { description: Supported resources } }
  /resources/{resource}:
    get:
      operationId: listAdministrationRecords
      summary: Search or list a supported administration resource.
      parameters:
        - name: resource
          in: path
          required: true
          schema: { $ref: '#/components/schemas/ResourceName' }
        - name: search
          in: query
          schema: { type: string, maxLength: 100 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses: { '200': { description: Resource records }, '404': { description: Unsupported resource } }
  /resources/{resource}/{record}:
    get:
      operationId: getAdministrationRecord
      summary: Inspect one supported administration record before taking action.
      parameters:
        - name: resource
          in: path
          required: true
          schema: { $ref: '#/components/schemas/ResourceName' }
        - name: record
          in: path
          required: true
          schema: { type: integer }
      responses: { '200': { description: Resource record }, '404': { description: Record not found } }
  /teams/{team}/roster:
    get:
      operationId: getTeamRoster
      summary: Get a team's roster, captain, venue and current section.
      parameters:
        - name: team
          in: path
          required: true
          schema: { type: integer }
      responses: { '200': { description: Team roster and context }, '404': { description: Team not found } }
  /command:
    post:
      operationId: performAdministrationCommand
      summary: Perform one validated and audited Huddspool administration command.
      description: |
        Inspect affected records first. For consequential changes, explain the exact change and obtain explicit confirmation immediately before calling this operation. Put route identifiers and command fields together in arguments. Existing endpoint validation, stale-state checks, dependency guards, events and audit logging still apply.

        Player commands: create_player, update_player, send_password_reset, move_player.
        Team and venue commands: create_team, update_team, fold_team, set_team_captain, set_team_venue, create_venue, update_venue, add_team_to_section, set_points_deduction, withdraw_team.
        Season commands: create_season, update_season, open_season, create_section, update_section.
        Fixture commands: reschedule_fixture, correct_result.
        Knockout commands: create_knockout, update_knockout, add_knockout_participant, update_knockout_participant, create_knockout_round, update_knockout_round, record_knockout_result, record_knockout_forfeit, clear_knockout_result, generate_knockout_bracket, randomize_knockout_round.
        Operational commands: create_expulsion, update_notification_setting, mark_season_entry_paid, update_support_ticket.
        Content commands: create_content, update_content. Use resource news, pages or rulesets.
        Deletion command: delete_record. It requires resource, record, expected_updated_at, reason and confirmation set to DELETE. Teams must be folded instead.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [command, arguments]
              properties:
                command:
                  type: string
                  enum: [create_player, update_player, send_password_reset, move_player, create_team, update_team, fold_team, set_team_captain, set_team_venue, create_venue, update_venue, add_team_to_section, set_points_deduction, withdraw_team, create_season, update_season, open_season, create_section, update_section, reschedule_fixture, correct_result, create_knockout, update_knockout, add_knockout_participant, update_knockout_participant, create_knockout_round, update_knockout_round, record_knockout_result, record_knockout_forfeit, clear_knockout_result, generate_knockout_bracket, randomize_knockout_round, create_expulsion, update_notification_setting, mark_season_entry_paid, update_support_ticket, create_content, update_content, delete_record]
                arguments:
                  type: object
                  description: Identifiers and fields required by the selected command. Use current values returned by inspection for expected-state fields.
                  additionalProperties: true
      responses:
        '200': { description: Command completed }
        '201': { description: Record created }
        '404': { description: Referenced record not found }
        '422': { description: 'Missing input, stale state, dependency protection or invalid change' }
components:
  schemas:
    ResourceName:
      type: string
      enum: [users, teams, venues, seasons, sections, section-teams, fixtures, results, frames, rulesets, knockouts, knockout-rounds, knockout-participants, knockout-matches, season-entries, season-team-entries, season-knockout-entries, expulsions, news, pages, notification-settings, support-tickets, media]
