openapi: 3.1.0
info:
  title: Huddspool administration
  version: 0.1.0
  description: Read Huddspool administration data and perform audited administrator operations.
servers:
  - url: https://www.huddspool.co.uk/api/gpt
paths:
  /me:
    get:
      operationId: getConnectedAdministrator
      summary: Check the connected Huddspool administrator.
      responses:
        '200': { description: Connected administrator }
  /dashboard:
    get:
      operationId: getAdministrationDashboard
      summary: Get open-season statistics, outstanding fixtures, latest results, and open support ticket count.
      responses:
        '200': { description: Administration dashboard }
  /capabilities:
    get:
      operationId: listAdministrationResources
      summary: List the administration resources that can be inspected.
      responses:
        '200': { description: Supported resources }
  /resources/{resource}:
    get:
      operationId: listAdministrationRecords
      summary: List records from an explicitly supported administration resource.
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
            enum: [users, teams, venues, seasons, sections, section-teams, fixtures, results, frames, rulesets, knockouts, knockout-rounds, knockout-participants, knockout-matches, season-entries, season-team-entries, season-knockout-entries, expulsions, news, pages, notification-settings, support-tickets, media]
        - name: search
          in: query
          schema: { type: string, maxLength: 100 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses:
        '200': { description: Resource records }
        '404': { description: Unsupported resource }
  /resources/{resource}/{record}:
    get:
      operationId: getAdministrationRecord
      summary: Get one record from an explicitly supported administration resource.
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
            enum: [users, teams, venues, seasons, sections, section-teams, fixtures, results, frames, rulesets, knockouts, knockout-rounds, knockout-participants, knockout-matches, season-entries, season-team-entries, season-knockout-entries, expulsions, news, pages, notification-settings, support-tickets, media]
        - name: record
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Resource record }
        '404': { description: Record or resource not found }
  /players:
    get:
      operationId: searchPlayers
      summary: Find players by name without exposing their contact details.
      parameters:
        - name: query
          in: query
          required: true
          schema: { type: string, minLength: 2 }
      responses:
        '200': { description: Matching players }
        '422': { description: Search query is too short }
    post:
      operationId: createPlayerAccount
      summary: Create a player or administrator account.
      description: Search for the player first. Creation is rejected when that name already exists, including an archived account. Creates an audited account. Ask for confirmation immediately before calling it. Use the dedicated team-move action for later team transfers.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, site_role]
              properties:
                name: { type: string, maxLength: 255 }
                email:
                  oneOf:
                    - { type: string, format: email }
                    - { type: 'null' }
                telephone:
                  oneOf:
                    - { type: string, maxLength: 255 }
                    - { type: 'null' }
                team_id:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
                site_role: { type: string, enum: [player, team-admin, admin] }
      responses:
        '201': { description: Account created and audit recorded }
        '422': { description: Input is invalid }
  /players/{player}:
    patch:
      operationId: updatePlayerAccount
      summary: Update a player's name, contact details, or role.
      description: This audited action checks that the account has not changed since inspection. It cannot move the player between teams. Ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: player
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expected_updated_at]
              properties:
                expected_updated_at: { type: string, format: date-time }
                name: { type: string, maxLength: 255 }
                email:
                  oneOf:
                    - { type: string, format: email }
                    - { type: 'null' }
                telephone:
                  oneOf:
                    - { type: string, maxLength: 255 }
                    - { type: 'null' }
                site_role: { type: string, enum: [player, team-admin, admin] }
      responses:
        '200': { description: Account updated and audit recorded }
        '422': { description: The inspected state is stale or input is invalid }
  /players/{player}/password-reset:
    post:
      operationId: sendPlayerPasswordReset
      summary: Send the standard password-reset email to a player.
      description: Sends an email and records an audit entry. Ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: player
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Password-reset email sent and audit recorded }
        '422': { description: The account has no email address or delivery could not be started }
  /teams:
    get:
      operationId: searchOpenSeasonTeams
      summary: Find teams in the open season.
      parameters:
        - name: query
          in: query
          schema: { type: string }
      responses:
        '200': { description: Matching teams }
    post:
      operationId: createTeam
      summary: Create a team.
      description: Search first to prevent duplicates. This action is audited and requires confirmation.
      x-openai-isConsequential: true
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, shortname: { oneOf: [{ type: string }, { type: 'null' }] }, venue_id: { oneOf: [{ type: integer }, { type: 'null' }] } } } } } }
      responses: { '201': { description: Team created }, '422': { description: Invalid input } }
  /teams/{team}/roster:
    get:
      operationId: getTeamRoster
      summary: Get a team's players, captain, venue, and open-season section.
      parameters:
        - name: team
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Team roster }
        '404': { description: Team not found }
  /players/{player}/team:
    post:
      operationId: movePlayerToTeam
      summary: Move a player after checking that their current team still matches the inspected state.
      description: This write is atomic and audited. Inspect the player and both teams first. Ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: player
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination_team_id, expected_current_team_id]
              properties:
                destination_team_id: { type: integer }
                expected_current_team_id:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
                make_destination_captain: { type: boolean, default: false }
      responses:
        '200': { description: Player moved and audit recorded }
        '422': { description: The inspected state is stale or input is invalid }
  /teams/{team}/captain:
    post:
      operationId: updateTeamCaptain
      summary: Assign or remove a team captain after checking the current captain.
      description: This write is atomic and audited. Inspect the team roster first and ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: team
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [captain_id, expected_current_captain_id]
              properties:
                captain_id:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
                expected_current_captain_id:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
      responses:
        '200': { description: Captain updated and audit recorded }
        '422': { description: The inspected state is stale or input is invalid }
  /teams/{team}/venue:
    post:
      operationId: updateTeamVenue
      summary: Change a team's venue after checking its current venue.
      description: This write is atomic and audited. Inspect the team and venue first and ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: team
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [venue_id, expected_current_venue_id]
              properties:
                venue_id: { type: integer }
                expected_current_venue_id:
                  oneOf:
                    - { type: integer }
                    - { type: 'null' }
      responses:
        '200': { description: Venue updated and audit recorded }
        '422': { description: The inspected state is stale or input is invalid }
  /fixtures/{fixture}/date:
    post:
      operationId: updateFixtureDate
      summary: Reschedule a fixture after checking its current date.
      description: This write is atomic and audited. Inspect the fixture first and ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: fixture
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fixture_date, expected_current_fixture_date]
              properties:
                fixture_date: { type: string, format: date }
                expected_current_fixture_date: { type: string, format: date }
      responses:
        '200': { description: Fixture rescheduled and audit recorded }
        '422': { description: The inspected state is stale or input is invalid }
  /results/{result}/correction:
    post:
      operationId: correctLeagueResult
      summary: Correct a league result and all ten of its frames.
      description: Replaces the complete frame-level result, recalculates the score, marks it as an administrator override, and records the reason. Inspect the result and frames first and ask for confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters:
        - name: result
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expected_draft_version, reason, frames]
              properties:
                expected_draft_version: { type: integer, minimum: 0 }
                reason: { type: string, minLength: 5, maxLength: 500 }
                frames:
                  type: array
                  minItems: 10
                  maxItems: 10
                  items:
                    type: object
                    required: [home_player_id, away_player_id, home_score, away_score]
                    properties:
                      home_player_id: { type: integer }
                      away_player_id: { type: integer }
                      home_score: { type: integer, minimum: 0, maximum: 1 }
                      away_score: { type: integer, minimum: 0, maximum: 1 }
      responses:
        '200': { description: Result corrected and audit recorded }
        '422': { description: The inspected state is stale or the result is invalid }
  /teams/{team}:
    patch:
      operationId: updateTeam
      summary: Update a team's name or short name.
      description: Inspect first. This action uses updated_at as a stale-state guard, is audited, and requires confirmation.
      x-openai-isConsequential: true
      parameters: [{ name: team, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [expected_updated_at], properties: { expected_updated_at: { type: string, format: date-time }, name: { type: string }, shortname: { oneOf: [{ type: string }, { type: 'null' }] } } } } } }
      responses: { '200': { description: Team updated }, '422': { description: Stale state or invalid input } }
  /teams/{team}/fold:
    post:
      operationId: foldTeam
      summary: Mark a team as folded.
      description: This consequential action is audited and requires confirmation.
      x-openai-isConsequential: true
      parameters: [{ name: team, in: path, required: true, schema: { type: integer } }]
      responses: { '200': { description: Team folded }, '422': { description: Team already folded } }
  /venues:
    post:
      operationId: createVenue
      summary: Create a venue.
      description: Search first to prevent duplicates. This action is audited and requires confirmation.
      x-openai-isConsequential: true
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, address], properties: { name: { type: string }, address: { type: string }, telephone: { oneOf: [{ type: string }, { type: 'null' }] } } } } } }
      responses: { '201': { description: Venue created }, '422': { description: Invalid input } }
  /venues/{venue}:
    patch:
      operationId: updateVenue
      summary: Update a venue.
      description: Inspect first. This action uses updated_at as a stale-state guard, is audited, and requires confirmation.
      x-openai-isConsequential: true
      parameters: [{ name: venue, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [expected_updated_at], properties: { expected_updated_at: { type: string, format: date-time }, name: { type: string }, address: { type: string }, telephone: { oneOf: [{ type: string }, { type: 'null' }] } } } } } }
      responses: { '200': { description: Venue updated }, '422': { description: Stale state or invalid input } }
  /sections/{section}/teams:
    post:
      operationId: addTeamToSection
      summary: Add an existing team to a section.
      description: Inspect both records first. This action is audited and requires confirmation.
      x-openai-isConsequential: true
      parameters: [{ name: section, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [team_id], properties: { team_id: { type: integer } } } } } }
      responses: { '201': { description: Team added to section }, '422': { description: Team already belongs to section or input invalid } }
  /section-teams/{sectionTeam}/deduction:
    patch:
      operationId: updateOpenSeasonPointsDeduction
      summary: Set a points deduction for a team in the current open season.
      description: Historical seasons cannot be changed. Inspect the section-team record first. This action is audited and requires confirmation.
      x-openai-isConsequential: true
      parameters: [{ name: sectionTeam, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [deducted, expected_current_deduction], properties: { deducted: { type: integer, minimum: 0 }, expected_current_deduction: { type: integer, minimum: 0 } } } } } }
      responses: { '200': { description: Deduction updated }, '422': { description: Closed season, stale state, or invalid input } }
  /section-teams/{sectionTeam}/withdraw:
    post:
      operationId: withdrawTeamFromOpenSeason
      summary: Withdraw a team from its current open-season section.
      description: Historical seasons cannot be changed. This can remove applicable results and replace future unplayed fixtures with byes. Inspect the membership and ask for explicit confirmation immediately before calling it.
      x-openai-isConsequential: true
      parameters: [{ name: sectionTeam, in: path, required: true, schema: { type: integer } }]
      responses: { '200': { description: Team withdrawn }, '422': { description: Closed season or team already withdrawn } }
components:
  schemas: {}
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.huddspool.co.uk/oauth/authorize
          tokenUrl: https://www.huddspool.co.uk/oauth/token
          scopes:
            'gpt:read': Read Huddspool administration data.
            'gpt:write': Perform audited Huddspool administration operations.
security:
  - oauth: ['gpt:read', 'gpt:write']
